<!DOCTYPE HTML>
<html>
<head>
	<link rel="stylesheet" href="../static/css/index.css">
</head>

<body>
	<div id="main-container">
		<div id="flash-messages">
			{% with messages = get_flashed_messages() %}
			  {% if messages %}
			    {% for message in messages %}
			      {{ message }}
			    {% endfor %}
			  {% endif %}
			{% endwith %}
		</div>
		<form id="login-form" method="POST" action="/handler/login">
			<section class="form-entry">
				<label for="username">Username</label>
				<input type="text" name="username">
			</section>
			<section class="form-entry">
				<label for="password">Password</label>
				<input type="password" name="password">
			</section>
			<section class="form-entry">
				<input type="Submit" name="Login" value="Login">
			</section>
		</form>
	</div>
</body>

</html>